<div class="stock-card-container" [class.negative-variation-border]="stock.variation < 0 ">
  <div class="stock-info-container">
    <h2>{{stock.name}}</h2> <!--aqui são passadas as variáveis que apareceram na tela-->
    <p>{{stock.date}} 23:57:30</p>
  </div>

  <div class="stock-value-container">
    <span class="value">{{stock.price |currency:'BRL'}}</span> <!--currency serve para formatar o preço para real-->
    <span class="variation" [class.negative-variation]="stock.variation < 0">
      {{variation}}
    </span>
  </div>
</div>
